
.brand-logo {
    width: 70px;
    height: 70px;
}

.logo-wrapper {
    text-align: center;
    width: 100%
}

.logo-el {
    display: block;
}

.nav-link {
    padding: 10px;
}

.wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wrap div:last-child {
    margin-left: auto;
}