
.brand-logo {
    width: 70px;
    height: 70px;
}

.logo-wrapper {
    text-align: center;
    width: 100%
}

.logo-el {
    display: block;
}

.nav-link {
    padding: 10px;
}

.wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wrap div:last-child {
    margin-left: auto;
}

.loading-indicator {
    position: absolute;
    z-index: 120;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
}

.loading-indicator div {
    position: absolute;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    z-index: -100;
}